section.sixth-row{
    margin-bottom: 2rem;
}

section.sixth-row [class*="col-"]{
    height: 75px;
}

.rectangle{
    color: white;
    padding: 1rem;
    text-align: center;
    margin: .05rem;
}

.nested{
    background-color: #01e165;
    margin: .05rem;
}

.blue{
    background-color: #006cfa;
}

.padding{
    padding: .6rem;
}

.border{
    border: 1px solid white;
}

.border-bottom{
    border-bottom: 1px solid white;
}